<div class="col-sm-10">Name: <%= @u.user_name %><br>Email: <%= @u.email %><br>Designation: <%= @u.designation %><br>Organization: <%= @u.organization %>
<div style="font-weight:bold; text-align:right;margin-right: -180px;">
Total correct answers:
<%= Uanswer.where(user_id: @u.id).where(result: true).count%>
</div></div><br>
<div class="navbar-right col-sm-5" style="background-color:grey;padding:10px;text-align:center;width: 100px;margin-bottom:20px;">
<%= link_to "Back", admin_path(@admin)%>
</div>


<table border="1" style="width:100%; margin-bottom: 40px;">
  <tr>
    <th>Question</th>
    <th>Choosen Answer</th>
    <th>Correct Answer</th>
  </tr>
  <% @u.uanswers.each do |ua| %>
  <tr>
    <td><%= Question.find_by_id(ua.question_id).question %></td>
    <td><%= ua.choosen_answer%></td>
    <td><%= Question.find_by_id(ua.question_id).answer_id%></td>
  </tr>
  <% end %>
</table>

