<div class="col-sm-7"><table border="1" style="width:100%; text-align:center;">
  <tr>
    <th style="text-align:center;">User Name</th>
    <th style="text-align:center;">Email</th>
  </tr>
  <% @users.each do |u| %>
  <tr>
    <td><%= u.user_name %></td>
    <td><%= u.email %></td>
  </tr>
  <% end %>
</table>
</div><br><br>
  <div class="col-sm-5">
<h1>Search by Email</h1>
<%= form_for :individual_result, url: individual_result_admin_path(@admin), :method => :post do |f|%>
<p>
  <%= label_tag :Email %><br>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.submit "ok" %>
</p>
<% end %>
</div>
