  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= form_for @user do |f| %>
      <div class="form-group" data-toggle ="tooltip" data-placement= "left" title="Enter Your Name">
        <%= f.text_field :user_name,:class=>"form-control user_name",:placeholder=>"Your Name", :id => "capitaln" %>
      </div>
      <div class="form-group" data-toggle ="tooltip" data-placement= "left" title="Enter Your Email">
       <%= f.text_field :email,:class=>"form-control email",:placeholder=>"Your Email"%>
     </div>
     <div class="form-group" data-toggle ="tooltip" data-placement= "left" title="Enter Your Organisation">
       <%= f.text_field :organization,:class=>"form-control organization",:placeholder=>"Organisation", :id => "capitalo" %>
     </div>
     <div class="form-group" data-toggle ="tooltip" data-placement= "left" title="Enter Your Designation">
      <%= f.text_field :designation,:class=>"form-control designation",:placeholder=>"Designation", :id => "capitald" %><br>
    </div>
    <div class="form-group btn-margin-top">
      <div class="col-sm-offset-8 col-sm-10">
        <%= f.submit "submit",:id => "click_disable1",:class => "btn btn-primary btn-margin-right disable_submitButtonId enable_submitButtonId"%>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row" style="">
  <div id="demo" class="slider-position">
   <a href="#" class="text-right" style="display:block" onclick="myFunction()" >
    <i class="fa fa-times-circle-o slider-close-btn" ></i>
  </a>
  <div data-ride="carousel" class="carousel slide" id="carousel-example-generic" style="height:400px;">
    <ol class="carousel-indicators">
      <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
      <li data-slide-to="1" data-target="#carousel-example-generic" class=""></li>
      <li data-slide-to="2" data-target="#carousel-example-generic" class=""></li>
      <li data-slide-to="3" data-target="#carousel-example-generic" class=""></li>
    </ol>
    <div role="listbox" class="carousel-inner" style="height:400px;">
      <div class="item active" data-holder-rendered="true">
        <%= image_tag "slider/banner02.jpg", :alt=>"First slide"%>
      </div>
      <div class="item" data-holder-rendered="true">
        <%= image_tag "slider/banner03.jpg", :alt=>"Second slide "%>
      </div>
      <div class="item" data-holder-rendered="true">
        <%= image_tag "slider/banner04.jpg", :alt=>"Third slide "%>
      </div>
      <div class="item" data-holder-rendered="true">
       <%= image_tag "slider/banner05.jpg", :alt=>"Fourth slide "%>
     </div>
   </div>
 </div>
</div>
</div>


<script>
 UserValidator();
 function myFunction() {
  document.getElementById("demo").style.display = "none";
}
$('#capitaln').keyup(function(){
  $(this).val($(this).val().charAt(0).toUpperCase()+ $(this).val().slice(1));
});
$('#capitalo').keyup(function(){
  $(this).val($(this).val().charAt(0).toUpperCase()+ $(this).val().slice(1));
});
$('#capitald').keyup(function(){
  $(this).val($(this).val().charAt(0).toUpperCase()+ $(this).val().slice(1));
});
$(document).ready(function(){
  $("#click_disable1").click(function(){
    var val1 = $('.user_name').valid();
    var val2 = $('.email').valid();
    var val3 = $('.organization').valid();
    var val4 = $('.designation').valid();
    if (val1 && val2 && val3 && val4) {
      $("#click_disable1").addClass('disabled');
    }
  });
});
</script>
